.header {
    background: #222;
    padding: 18px 19px;
        &__wrap {
            display: flex;
            justify-content: space-between;
                .header__left a:not(:last-child) {
                    margin-right: 41px;
                }
                .header__right{
                    & a:not(:last-child) {
                    margin-right: 33px;
                }
                    .basket_count {
                        position: relative;
                        .count {
                            position: absolute;
                            display: flex;
                            top: -20px;
                            right: -9px;
                            color: #fff;
                            background: #F16D7F;
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;
                            width: 19px;
                            height: 19px;
                        }
                    }
                }
                
        }
}