@media (max-width: 1024px) {
    .header {
        padding: 16.5px 2%;
    }
    .copyright__footer {
        padding: 24px 2%;
    }
    // index page
    .intro {
        margin-bottom: 20px;    
        &__wrap {
            background-size: auto;
        }
        &__text {
            padding: 0;
            h1 {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            }
            &--bold {
            font-weight: 900;
            font-size: 44px;
            line-height: 53px;
            }
        } 
    }
    .cat {
        margin-bottom: 154px;
        &__group {
            margin-bottom: 19px;
        }
        &__link {
            padding: 60px 0;
        }
        &__inner>a {
            padding: 33px 0;
        }
    }
    // product cards element
    .product {
        margin-bottom: 5px;
        &__title {
            margin-bottom: 72px;
        }
        &__box {
            justify-content: space-around;
        }
        &__card {
            width: 46%;
        }
        &__btn {
            margin-bottom: 65px;
        }
    }
    // info box element
    .info {
        &__wrap {
            flex-direction: column;
            padding: 48px 0 16px !important;
        }
        &__box {
            padding: 0 !important;
            margin-bottom: 48px;
        }
    }
    // footer element
    .subscribe {
        &__wrap {
            flex-direction: column;
            &--inner {
                padding-top: 64px;
                margin-bottom: 48px;
            }
            &--form {
                padding: 0;
                margin-bottom: 154px;
            }
        }
    }

    // CART page
    .shopping__cart {
        align-items: center;
        flex-direction: column;
    }
    .cart__inner {
        width: 95%;
        }
        .cart__inner_btn {
            justify-content: center;
            padding-top: 22pxt;
        }
        .cart__link {
        margin: 0 24px;
    }
    .shipping__wrap {
        flex-direction: unset;
        justify-content: space-between;
    }
    .shipping__adress {
        padding-top: 64px;
        width: 100%;
        form {
            width: 360px;
            margin: 0;
        }
        &_btn {
            margin-bottom: 0 !important;
        }
    }
    .total__wrap {
        width: 360px;
        max-height: 214px;
    }
    // Product page
    .clear-phone {
        display: none;
    }
    // register page
    @mixin register-text-tablet {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
    .register__wrap {
        padding: 0;
        .register__title {
            max-width: 360px;
            &-caption {
                @include register-text-tablet();
            }
            p {
                @include register-text-tablet();
            }
            ul>li {
                @include register-text-tablet();
            }
        }
        .other {
            display: inline-block;
        }
    }
}
    
    