* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.footer {
    margin-top: auto;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

$colors: #F16D7F;

@mixin flexbox {
    
}