* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: #222;
  padding: 16.5px 0;
  position: relative;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__wrap .header__left a:not(:last-child) {
  margin-right: 39px;
  padding-top: 7px;
}

.header__wrap .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 168px;
}

.header__wrap .header__right input {
  display: none;
}

.header__wrap .header__right .right__navigation:not(:last-child) {
  margin-right: 33px;
}

.header__wrap .header__right .menu__open {
  display: inline-block;
  cursor: pointer;
  position: relative;
  height: 23px;
  width: 32px;
}

.header__wrap .header__right .menu__open::before, .header__wrap .header__right .menu__open::after, .header__wrap .header__right .menu__open > span {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
}

.header__wrap .header__right .menu__open::before {
  top: 0;
}

.header__wrap .header__right .menu__open::after {
  bottom: 0;
}

.header__wrap .header__right .menu__open > span {
  top: 10.5px;
}

.header__wrap .header__right .basket_count {
  position: relative;
  padding-right: 4px;
}

.header__wrap .header__right .basket_count .count {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -8px;
  right: -9px;
  color: #fff;
  background: #F16D7F;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 19px;
  height: 19px;
}

.header .menu__wrap {
  position: absolute;
  right: 0;
  top: 77px;
  width: 232px;
  background: #fff;
  height: calc(100vh - 75.5px);
  padding: 37px 34px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.header .menu__wrap > details > summary {
  list-style: none;
  color: #F16D7F;
  cursor: pointer;
  margin-bottom: 24px;
}

.header .menu__wrap .menu__close {
  display: block;
  height: 18px;
  width: 18px;
  cursor: pointer;
  position: absolute;
  right: 17px;
  top: 16px;
}

.header .menu__wrap .menu__close > svg {
  fill: #6F6E6E;
}

.header .menu__wrap .menu__close > svg:hover {
  fill: #F16D7F;
}

.header .menu__wrap h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 24px;
}

.header .menu__wrap details {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  position: relative;
}

.header .menu__wrap ul {
  margin-bottom: 20px;
}

.header .menu__wrap ul > li {
  padding-left: 21px;
  margin-bottom: 11px;
}

.header .menu__wrap ul > li a {
  color: #6F6E6E;
}

#menu:checked ~ .menu__wrap {
  display: block;
}

#menu:not(:checked) ~ .menu__wrap {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.subscribe {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url(../img/Layer41.jpg) no-repeat;
  background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/Layer41.jpg) no-repeat;
  background-size: cover;
}

.subscribe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe__wrap--inner {
  padding-top: 97px;
  margin-bottom: 126px;
  text-align: center;
  max-width: 360px;
}

.subscribe__wrap--inner p {
  padding: 30px 0;
  font-size: 20px;
  line-height: 24px;
}

.subscribe__wrap--inner p > span {
  font-style: italic;
}

.subscribe__wrap--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 100px;
}

.subscribe__wrap--form_caption {
  padding-bottom: 32px;
}

.subscribe__wrap--form_caption h4 {
  font-weight: bold;
  font-size: 24px;
}

.subscribe__wrap--form_caption p {
  font-size: 18px;
  line-height: 167.2%;
}

.subscribe__wrap--form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__wrap--form_input input {
  background: #E1E1E1;
  padding: 9px 64px 9px 22px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  opacity: 0.67;
  width: 256px;
  outline: none;
}

.subscribe__wrap--form_input input:focus, .subscribe__wrap--form_input input:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(140, 147, 152, 0.4);
          box-shadow: 0px 5px 10px 2px rgba(140, 147, 152, 0.4);
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

.subscribe__wrap--form_input button {
  background: #F16D7F;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 14px;
  line-height: 17px;
  padding: 17px 20px;
  color: #fff;
  cursor: pointer;
}

.subscribe__wrap--form_input button:hover {
  -webkit-box-shadow: 3px 4px 10px 2px rgba(217, 104, 119, 0.4);
          box-shadow: 3px 4px 10px 2px rgba(217, 104, 119, 0.4);
  -webkit-transform: 0.7s;
          transform: 0.7s;
}

.copyright {
  background: #222;
}

.copyright__footer {
  color: #fff;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.copyright__footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright__footer-social .social__icon {
  background: #fbfbfb;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__footer-social .social__icon:hover {
  background: #F16D7F;
}

.copyright__footer-social .social__icon:not(:last-child) {
  margin-right: 8px;
}

.copyright__footer-social .social__icon-link {
  padding: 5px 8px;
  color: #222;
}

.copyright__footer-social .social__icon-link:hover {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.shopping__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px;
}

.cart--intro {
  margin-bottom: 96px;
}

.cart__inner {
  max-width: 652px;
}

.cart__inner .cart__inner_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
}

.cart__inner .cart__inner_product .cart__inner_img img {
  max-height: 306px;
  display: block;
}

.cart__inner .cart__inner_product .burger {
  padding-top: 22px;
  margin-right: 22px;
  margin-left: auto;
}

.cart__inner .cart__inner_product .burger .burger-btn {
  display: block;
  position: relative;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.cart__inner .cart__inner_product .burger .burger-btn::before, .cart__inner .cart__inner_product .burger .burger-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #575757;
  border-radius: 10px;
}

.cart__inner .cart__inner_product .burger .burger-btn::before {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
}

.cart__inner .cart__inner_product .burger .burger-btn::after {
  bottom: 7px;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart__inner .cart__inner_product .cart__inner_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 31px;
  padding-top: 22px;
}

.cart__inner .cart__inner_product .cart__inner_description h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  width: 211px;
}

.cart__inner .cart__inner_product .cart__inner_description ul {
  padding-top: 44px;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__inner .cart__inner_product .cart__inner_description ul li {
  padding-bottom: 6px;
}

.cart__inner .cart__inner_product .cart__inner_description ul li > span {
  color: #F16D7F;
}

.cart__inner .cart__inner_product .cart__inner_description ul li > input {
  margin-left: 22px;
  max-width: 44px;
  border: 1px solid #EAEAEA;
  padding: 2px 0 2px 16px;
  color: #575757;
}

.cart__inner .cart__inner_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
}

.cart__inner .cart__inner_btn .cart__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding: 17px 39px;
  border: 1px solid #a4a4a4;
}

.shipping__adress {
  padding-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.shipping__adress h3 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 19px;
}

.shipping__adress form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 57px;
}

.shipping__adress form input {
  margin-bottom: 20px;
  width: 100%;
  padding: 13px 0;
  padding-left: 17px;
  border: 1px solid #A4A4A4;
}

.shipping__adress form .shipping__adress_btn {
  width: 101px;
  text-align: center;
  padding: 17px 13px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  background: transparent;
  cursor: pointer;
}

.total__wrap {
  background: #F5F3F3;
  text-align: end;
  padding: 39px 42px 42px;
}

.total__wrap h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.total__wrap h3 span {
  margin-left: 26px;
}

.total__wrap h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 21px;
}

.total__wrap h4 strong {
  color: #F16D7F;
  margin-left: 26px;
}

.total__wrap hr {
  background: #E2E2E2;
  margin-bottom: 17px;
}

.total__wrap button {
  cursor: pointer;
  width: 100%;
  background: #F16D7F;
  text-align: center;
  color: #fff;
  border: none;
  padding: 16px 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.intro {
  background: #F1E4E6;
  height: calc(100vh - 75.5px);
  margin-bottom: 65px;
}

.intro__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(../img/Header_man.png) no-repeat;
  background-position: -266px bottom;
  background-size: contain;
}

.intro__text {
  padding-right: 9%;
  padding-bottom: 20%;
}

.intro__text > h1 {
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
  line-height: 38px;
  font-size: 32px;
}

.intro__text--bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.intro__text--pink {
  color: #F16D7F;
}

.cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 96px;
}

.cat__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cat__card {
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat__inner {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cat__inner a {
  padding: 65px 0;
}

.cat__woomen {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/for_woomen.jpg) no-repeat;
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for_woomen.jpg) no-repeat;
}

.cat__men {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/for_men.jpg) no-repeat;
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for_men.jpg) no-repeat;
}

.cat__kids {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/for_kids.jpg) no-repeat;
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for_kids.jpg) no-repeat;
}

.cat__row {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/accesories.jpg) no-repeat;
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/accesories.jpg) no-repeat;
  background-size: cover;
}

.cat__txt {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.cat__dosc {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.product--intro {
  margin-bottom: 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 18px;
}

.product__title {
  text-align: center;
  margin-bottom: 46px;
}

.product__title h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 6px;
}

.product__title p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
  margin-bottom: 27px;
  background: #F8F8F8;
}

.product__card:hover .product__overlay {
  opacity: 1;
}

.product__img {
  position: relative;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 421px;
  opacity: 0;
  background: rgba(58, 56, 56, 0.86);
}

.product__card-btn {
  width: 139px;
  margin: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 10px 13px;
  font-size: 14px;
  line-height: 17px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__card-btn > svg {
  fill: #fff;
}

.product__card-btn:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.product__card-btn:hover > svg {
  fill: #F16D7F;
}

.product__btn {
  background: transparent;
  cursor: pointer;
  display: block;
  padding: 15px 39px;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
  border: 1px solid #F16D7F;
  margin-bottom: 95px;
}

.product__btn a {
  color: #F16D7F;
}

.product__btn:hover {
  background: #F26376;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product__btn:hover a {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product__btn:active {
  background: #F26376;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(80, 36, 34, 0.4) inset;
          box-shadow: 0px 5px 10px 2px rgba(80, 36, 34, 0.4) inset;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product__btn:active a {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
  padding: 25px 0 20px 16px;
}

.product__subtitle {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__desc {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding: 12px 0 18px;
  max-width: 318px;
}

.product__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.register__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 96px;
}

.register__wrap .register__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.register__wrap .register__form h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.register__wrap .register__form input {
  margin-bottom: 20px;
  border: 1px solid #A4A4A4;
}

.register__wrap .register__form input.register__user {
  width: 100%;
  padding: 13px 17px 16px;
}

.register__wrap .register__form input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.register__wrap .register__form p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.register__wrap .register__form .register__check {
  padding-top: 11px;
  margin-bottom: 13px;
}

.register__wrap .register__form .register__check input {
  margin-right: 10px;
}

.register__wrap .register__form .register__check span {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  margin-right: 20px;
}

.register__wrap .register__form .register__btn {
  padding: 16px 29px;
  background: #F16D7F;
  color: #fff;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.register__wrap .register__form .register__btn span {
  margin-left: 20px;
}

.register__wrap .register__title {
  max-width: 652px;
}

.register__wrap .register__title h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 22px;
}

.register__wrap .register__title p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 21px;
}

.register__wrap .register__title ul > li {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.register__wrap .register__title ul > li span {
  margin-right: 22px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.breadcrumb {
  background: #F8F3F4;
  padding: 60px 0;
}

.breadcrumb__intro {
  margin-bottom: 51px;
}

.breadcrumb__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumb__wrap h2 {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb__list {
  display: inline;
}

.breadcrumb__list + .breadcrumb__list::before {
  color: #636363;
  content: "/\00a0";
}

.breadcrumb__nav-link {
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.breadcrumb__color {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.slide {
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F7F7F7;
  position: relative;
}

.slide button {
  padding: 13px 17px;
  border: none;
  position: absolute;
  cursor: pointer;
}

.slide .slide--bottom {
  width: 12px;
  height: 21px;
}

.slide button .slide--bottom:hover {
  fill: #F16D7F;
}

.slide .slide-btn--left {
  left: 0;
}

.slide .slide-btn--right {
  right: 0;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
  margin-top: -64px;
  position: relative;
  background: #fff;
  margin-bottom: 128px;
}

.description h3 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 64px;
  margin-bottom: 12px;
}

.description hr:not(:last-child) {
  width: 63px;
  height: 3px;
  border: none;
  background: #F16D7F;
  margin-bottom: 12px;
}

.description h4 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.description p {
  max-width: 554px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
}

.description strong {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  display: inline-block;
  margin-bottom: 64px;
}

.description hr:nth-child(6) {
  height: 1px;
  width: 642px;
  background: #EAEAEA;
  margin-bottom: 64px;
}

.description ul {
  margin-bottom: 48px;
}

.description .btn--description {
  width: 213px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}

.description .btn--description svg {
  fill: #F16D7F;
}

.product--box {
  margin-bottom: 128px;
}

.info {
  background: #222224;
  color: #fbfbfb;
}

.info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__box {
  padding: 104px 0 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__box img {
  margin-bottom: 24px;
}

.info__box h4 {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #fbfbfb;
}

.info__box p {
  font-weight: 300;
  text-align: justify;
  font-size: 13.972px;
  line-height: 17px;
  max-width: 292px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 64px;
}

.filter__wrap {
  width: 360px;
  margin-right: 30px;
}

.filter__item {
  cursor: pointer;
  padding-left: 16px;
  width: 360px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: relative;
}

.filter__item[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 13px 16px 16px;
  position: absolute;
  background: #fff;
  z-index: 2;
}

.filter__item[open] > summary {
  margin-bottom: 16px;
  cursor: pointer;
  top: 16px;
}

.filter__item[open] > summary, .filter__item > svg {
  color: #F16D7F;
  fill: #F16D7F;
}

.filter__svg {
  margin-left: 11px;
}

.filter__category {
  margin-bottom: 24px;
}

.filter__category summary {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 0 11px 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
  margin-bottom: 24px;
}

.filter__category[open] > summary {
  color: #F16D7F;
}

.filter .list__category li:not(:last-child) {
  padding-bottom: 11px;
}

.filter .list__category li > a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 17px;
}
/*# sourceMappingURL=main.css.map */