@import "header";
@import "footer";
@import "cart";
@import "sourse";
@import "index";
@import "product";
@import "register";
@import "breadcrumb";

.slide {
    height: 777px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
    position: relative;
        button{
            padding: 13px 17px;
            border: none;
            position: absolute;  
            cursor: pointer;  
        }
        .slide--bottom {
            width: 12px;
            height: 21px;
        }
        button .slide--bottom:hover {
          fill: #F16D7F;
        }
        .slide-btn--left {
            left: 0;
        }
        .slide-btn--right {
            right: 0;
        }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 1px solid #EAEAEA;
    margin-top: -64px;
    position: relative;
    background: #fff;
    margin-bottom: 128px;
    h3 {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $colors;
        padding-top: 64px;
        margin-bottom: 12px;
    }
    hr:not(:last-child) {
        width: 63px;
        height: 3px;
        border: none;
        background: $colors;
        margin-bottom: 12px;
    }

    h4 {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
        margin-bottom: 48px;
    }
    p {
        max-width: 554px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
        margin-bottom: 32px;
    }
    strong {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $colors;
        display: inline-block;
        margin-bottom: 64px;
    }

    hr:nth-child(6) {
        height: 1px;
        width: 642px;
        background: #EAEAEA;
        margin-bottom: 64px;
    }

    ul {
        margin-bottom: 48px;
    }
    .btn--description {
        width: 213px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;
    }
    .btn--description svg {
        fill: $colors;
    }
}

.product--box {
    margin-bottom: 128px;
}

.info {
    background: #222224;
    color: #fbfbfb;
    &__wrap {
        display: flex;
        justify-content: space-between;
        padding: 0 35px;
        flex-wrap: wrap;
    }
    &__box {
        padding: 104px 0 99px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            margin-bottom: 24px;
        }
        h4 {
            font-weight: normal;
            font-size: 19.96px;
            line-height: 24px;
            margin-bottom: 16px;
            color: #fbfbfb;
        }
        p {
            font-weight: 300;
            text-align: justify;
            font-size: 13.972px;
            line-height: 17px;
            max-width: 292px;
        }
    }
}

.filter {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-bottom: 64px;
    &__wrap {
        width: 360px;
        margin-right: 30px;
    }

    &__item {
        cursor: pointer;
        padding-left: 16px;
        width: 360px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        position: relative;
        &[open] {
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 13px 16px 16px;
            position: absolute;
            background: #fff;
            z-index: 2;
        }
        &[open]>summary {
            margin-bottom: 16px;
            cursor: pointer;
            top: 16px;
        }
        &[open]>summary, &>svg {
            color: $colors;
            fill: $colors;
        }
    }
    &__svg {
        margin-left: 11px;
    }
    &__category {
        margin-bottom: 24px;
        summary {
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            line-height: 17px;
            color: #6F6E6E;
            padding:8px 0 11px 11px ;
            border-left: 5px solid #EF5B70;
            border-bottom: 1px solid #EBEBEB;
            cursor: pointer;
            margin-bottom: 24px;
        }
        &[open]>summary {
            color: $colors;
        }
    }
    .list__category{
        li:not(:last-child) {
            padding-bottom: 11px;
        }
        li>a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding-left: 17px;
        }
    }

}