* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    background: #222;
    padding: 18px 19px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.left__navigation:not(:last-child) {
    margin-right: 41px;
}

.right__navigation:not(:last-child) {
    margin-right: 33px;
}