.sort__check-box {
    flex-direction: column;
    box-shadow: 6px 4px 35px rgb(0 0 0 / 21%);
    padding: 9px 30px 11px 9px;
    position: absolute;
    z-index: 10;
    background: #fff;
}

.sort__open-close {
    position: relative;
}

.header__right:not(:last-child) {
    margin-right: 33px;
}

.check {
    margin-right: 9px;
    border: 1px solid #EBEBEB;
}

.sort__check {
    display: none;
}

.sort__check:checked ~ .sort__check-box {
    display: flex;
}

.sort__check:not(:checked) ~ .sort__check-box {
    display: none;
}

 .sort {
     display: flex;

 }

 .sort__nav>label {
    cursor: pointer;
    color: #6F6E6E;
 }

 .sort__nav:not(:last-child) {
     margin-right: 28px;
 }

 .sort__img {
     padding: 0 0 0 10px;
 }

 .pagination {
     display: flex;
     justify-content: center;
     padding-top: 18px;
     margin-bottom: 96px;
     
 }

 .pagination__nav {
     display: flex;
     justify-content: space-between;
     width: 284px;
     border: 1px solid #EBEBEB;
     padding: 12px 15px;
 }

 .padding-list {
     padding-right: 10px;
 }

.pagination__number {
    border:none;
    background: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    cursor: pointer;
}

.pagination__active {
    color: #EF5B70;

}

 .pagination__button {
     cursor: pointer;
 }




