* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.header {
    background: #222;
    padding: 18px 19px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.left__navigation:not(:last-child) {
    margin-right: 41px;
}

.right__navigation:not(:last-child) {
    margin-right: 33px;
}

.basket_count {
    position: relative;
}

.count {
    position: absolute;
    display: flex;
    top: -20px;
    right: -9px;
    color: #fff;
    background: #F16D7F;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
}

.the__brand {
    background: #F1E4E6;
    height: 75vh;
}

.the__brand__wrap {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    background: url(../img/Header_man.png) no-repeat;
    background-position: -228px 0;
}

.brand__text {
    width: 377px;
    
}

._text__brand {
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
}

._text__bold {
    font-weight: 900;
    font-size: 48px;
}

._text__pink {
    color: #F16D7F;
}